.form-label{
    margin-top: 30px;
}

.form-select {
    margin: 0px;
    width: 500px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #CCC;
    height: 34px;
}

.form-input {
    margin: 0px;
    width: max-content;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #CCC;
    height: 34px;
}


.form-div{
    width: 630px;
}

.form-button{
    width: 96px;
    height: 34px;
    margin-bottom: 2px;
    margin-left: 5px;
}

.form-div-save{
    width: 630px;
    display: flex;
    justify-content: flex-end;
}

.form-button-save{
    width: inherit;
    height: 34px;
    margin-bottom: 2px;
    margin-top: 30px;
}

.form-area{
    width: 500px;
    resize: both;
}

/*LOGIN , LOGOUT*/

.form-div-login{
    width: inherit;
}

.form-div-logbtn{
    width: inherit;
    display: flex;
    justify-content: center;
}

.form-input-login {
    margin: 0px;
    width: inherit;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    /*border: 1px solid #CCC;*/
    height: 34px;
}

/*book*/
.book_picture{
    border-style: none;
    margin-top: 60px;
    height: 500px;
}