.container {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    color: #a3b8ce;
}

.container-child {
    /*width: 50%;*/
    float: left;
    padding: 20px;
}

#navTop {
    height: 100px;
}

body {
    background-color: #545b62;
}

h1 {
    height: 80px;
    text-align: center;
    padding-top: 18px;
    margin-top: 60px;
    color: #343a40;
}

.info-reading-status {
    height: 40px;
    text-align: center;
    padding-top: 5px;
    /*margin-top: 60px;*/
    color: #343a40;
    width: inherit;
}

.error {
    height: 30px;
    text-align: center;
    padding-top: 5px;
    /* margin-top: 60px; */
    color: #343a40;
    width: inherit;
    margin-top: 3px;
    font-size: 16px;
    border-radius: 5px;
}

.edit-buttons {
    margin-right: 10px;
    height: 20px;
}

.edit-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 10px;
}