<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj książkę</title>
</head>
<body>
<div th:fragment="book-add">
    <div class="container">
        <h4 class="bg-warning font-weight-bold info-reading-status" style="margin-top: 30px">Opis:</h4>
    </div>
    <div class="container">
        <form th:object="${book}" method="post">
            <div class="container">
                <div class="container-child">
                    <label class="form-label" for="authors">Autorzy:</label>
                    <div class="form-div">
                        <input class="form-select" id="authors" type="text" name="authors" th:value="${book?.authors}"
                               required/>
                    </div>

                    <label class="form-label" for="title">Tytuł:</label>
                    <div class="form-div">
                        <input class="form-select" id="title" type="text" name="title" th:value="${book?.title}"
                               required/>
                    </div>

                    <label class="form-label" for="series">Seria:</label>
                    <div class="form-div">
                        <input class="form-select" id="series" type="text" name="series" th:value="${book?.series}"/>
                    </div>

                    <label class="form-label" for="bookInSeriesNo">Numer książki w serii:</label>
                    <div class="form-div">
                        <input class="form-select" id="bookInSeriesNo" type="number" name="bookInSeriesNo"
                            min="0" max="99"  th:value="${book?.bookInSeriesNo}"/>

                    </div>

                    <label class="form-label" for="categories">Kategoria:</label>
                    <div class="form-div">
                        <input class="form-select" id="categories" type="text" name="categories"
                               th:value="${book?.categories}"/>
                    </div>

                    <label class="form-label" for="description">Opis:</label>
                    <div class="form-div">
                        <textarea id="description" rows="5" style="width: 500px"
                                  th:field="*{description}">
            </textarea>
                    </div>

                    <input type="hidden" name="cover" th:value="${bookFromUrl?.cover}">

                </div>
                <div class="container-child">
                    <img class="book_picture" src="/pictures/default-image.jpg" th:src="${book?.cover}">
                </div>
                <div class="form-div-save" style="width: 80%">
                    <input class="btn btn-warning form-button-save" type="submit" value="Zapisz"/>
                </div>
            </div>

        </form>
    </div>
</div>
</body>
</html>

