<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Książki użytkownika</title>
</head>
<body>
<div th:fragment="ub-add">


    <form th:object="${userBook}" method="post">

        <br>

        <label for="user">Użytkownik: </label>
        <select id="user" required th:field="*{idUser}">
            <option th:each="u : ${userList}" th:value="${u.id}" th:text="${u.name}"></option>
        </select>
        <a th:href="@{/users}">Dodaj</a>
        <br>
        <br>


        <label for="book">Książka: </label>
        <select id="book" required th:field="*{idBook}">
            <option th:each="b : ${bookList}" th:value="${b.idBook}"
                    th:text="${b.title + ', ' + b.subtitle + ' Autor: ' + b.authors}"></option>
        </select>
        <a th:href="@{/books}">Wyszukaj</a>
        <br>
        <br>


        <label for="bookstore">Księgarnia: </label>
        <select id="bookstore" required th:field="*{bookstore}">
            <option th:each="bs : ${bookstoreList}" th:value="${bs.name}" th:text="${bs.name}"></option>
        </select>
        <a th:href="@{/bookstores}">Dodaj</a>
        <br>
        <br>


        <label for="owner">Własność: </label>
        <select id="owner" required th:field="*{ownershipStatus}">
            <option th:each="o : ${ownershipStatus}" th:value="${o}" th:text="${o.getDescription()}"></option>
        </select>
        <br>
        <br>


        <label for="edition">Edycja: </label>
        <select id="edition" required th:field="*{editionType}">
            <option th:each="e : ${editionType}" th:value="${e}" th:text="${e}"></option>
        </select>
        <br>
        <br>


        <label for="status">Stan czytania: </label>
        <select id="status" required th:field="*{readingStatus}">
            <option th:each="s : ${readingStatus}" th:value="${s}" th:text="${s.getDescription()}"></option>
        </select>
        <br>
        <br>


        <label for="from">Czytana od: </label>
        <input id="from" type="date" th:field="*{readFrom}"/>
        <br>
        <br>


        <label for="to">Czytana do: </label>
        <input id="to" type="date" th:field="*{readTo}"/>
        <br>
        <br>


        <label for="info">Moje notatki: </label>
        <input id="info" type="text" th:field="*{info}"/>
        <br>
        <br>

        <input type="submit" value="Dodaj"/>
    </form>
</div>
</body>
</html>

