<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Dodaj książkę</title>
</head>
<style>

</style>
<body>
<h2>Dodaj książkę</h2>
<form action="#" th:object="${book}" method="post">
    <input type="hidden" />
    <p>Id: <input type="text" name="idBook"  /></p>
    <p>Seria: <input type="text" name="series" /></p>
    <p>Autor/-zy: <input type="text" name="authors"  th:value="${bookFromUrl?.authors}" required/></p>
    <p>Kategoria: <input type="text" name="categories" th:value="${bookFromUrl?.categories}" /></p>
    <p>Tytuł: <input type="text" name="title" th:value="${bookFromUrl?.title}" required /></p>
    <p>Podtytuł: <input type="text" name="subtitle" th:value="${bookFromUrl?.subtitle}" /></p>
    <p>Opis: <input type="text" name="description" th:value="${bookFromUrl?.description}" /></p>
    <p>Link do zdjęcia okładki: <input type="text" name="cover" th:value="${bookFromUrl?.cover}" /></p>
    <p>Numer książki w serii: <input type="text" name="bookInSeriesNo" th:value="${bookFromUrl?.bookInSeriesNo}" /></p>
    <input  class="btn btn-warning form-button-save" type="submit" value="Dodaj"/>
</form>


<h1>Books list</h1>
<table class="content-table">
    <thead>
    <tr>
        <th style="width: 30px;" align="left">Id</th>
        <th style="width: 150px;" align="left">Seria</th>
        <th style="width: 200px;" align="left">Autor/-zy</th>
        <th style="width: 200px;" align="left">Kategoria</th>
        <th style="width: 200px;" align="left">Tytuł</th>
        <th style="width: 200px;" align="left">Podtytuł</th>
        <th style="width: 200px;" align="left">Opis</th>
        <th style="width: 200px;" align="left">Link do zdjęcia okładki</th>
        <th style="width: 200px;" align="left">Numer książki w serii</th>
        <th style="width: 30px;" align="left">Akcja</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book: ${bookList}">
        <td th:text="${book.idBook}"></td>
        <td th:text="${book.series}"></td>
        <td th:text="${book.authors}"></td>
        <td th:text="${book.categories}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.subtitle}"></td>
        <td th:text="${book.description}"></td>
        <td> <img class="book_picture" th:alt="${book.title + '   ' +book.subtitle}" th:src="${book.cover}"></img></td>
        <td th:text="${book.bookInSeriesNo}"></td>
        <td><a th:href="@{/books/delete/{id}(id=${book.idBook})}" class="btn btn-danger">usuń</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
