<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Książki użytkownika</title>
</head>
<body>
<div th:fragment="ub-edit">


    <form th:object="${userbookToEdit}" th:action="@{/userbooks/edit/{id}(id=${userbookToEdit.id})}"
          method="post">
        <div class="container" style="width: 700px">

            <label class="form-label" for="bookstore">Księgarnia: </label>
            <div class="form-div">
                <select class="form-select" id="bookstore" required th:field="*{bookstore}">
                    <option th:each="bs : ${bookstoreList}" th:value="${bs.name}" th:text="${bs.name}"></option>
                </select>
                <a class="btn btn-warning form-button" th:href="@{/bookstores}">Dodaj</a>
            </div>

            <label class="form-label" for="owner">Własność: </label>
            <div class="form-div">
                <select class="form-select" id="owner" required th:field="*{ownershipStatus}">
                    <option th:each="o : ${ownershipStatus}" th:value="${o}" th:text="${o.getDescription()}"></option>
                </select>
            </div>

            <label class="form-label" for="status">Stan czytania: </label>
            <div class="form-div">
                <select class="form-select" id="status" required th:field="*{readingStatus}">
                    <option th:each="s : ${readingStatus}" th:value="${s}" th:text="${s.getDescription()}"></option>
                </select>
            </div>

            <div style="display: flex; justify-content: space-between; width: 500px;">
                <div>
                    <label class="form-label" for="from">Czytana od: </label>
                    <div>
                        <input id="from" type="date" th:field="*{readFrom}"/>
                    </div>
                </div>
                <div>
                    <label class="form-label" for="to">Czytana do: </label>
                    <div>
                        <input id="to" type="date" th:field="*{readTo}"/>
                    </div>
                </div>
            </div>

            <label class="form-label" for="info">Moje notatki: </label>
            <div class="form-div">
                <textarea class="form-area" id="info" rows="3"> </textarea>
            </div>

            <div class="form-div-save">
                <input class="btn btn-warning form-button-save" type="submit" value="Zapisz zmiany"/>
            </div>

        </div>
    </form>
</div>
</body>
</html>

