<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div class="book_large" th:each="ub : ${userBookList}" th:fragment="ub-largeview">
    <div th:each="b : ${bookList}">

        <div th:if="${b.id == ub.idBook}">

            <div class="book__large-type" style="display: flex;">
                <h2 th:text="${ub.editionType}" style="width: 400px; padding-left: 90px"></h2>
                <div class="edit-div" style="padding-bottom: 10px;">
                    <a th:href="@{/userbooks/edit/{id}(id=${ub.id})}">
                        <img class="edit-buttons" th:src="@{/images/edit-icon.png}">
                    </a>
                    <a th:href="@{/userbooks/delete/{id}(id=${ub.id})}">
                        <img class="edit-buttons" th:src="@{/images/delete-icon.png}">
                    </a>
                </div>
            </div>

            <div style="float:left;">

                <img th:if="${b.cover != null && b.cover != ''}" class="book__large-picture"
                     th:alt="${b.title}" th:src="${b.cover}"
                     align="center">

                <img th:unless="${b.cover != null &&  b.cover != ''}" class="book__large-picture"
                     th:alt="${b.title}" th:src="@{/images/no-cover.jpg}"
                     align="center">
            </div>

            <div class="book__large-all" style="float: left">
                <h2 class="book__large-title" th:text="${b.title}"></h2>

                <div class="book__large-subtitle">
                    <p class="book__large-subtitle-sub">Autor: </p>
                    <p class="book__large-subtitle-sub book__large-subtitle-bold" th:text="${b.authors}"></p>
                </div>
                <div class="book__large-subtitle">
                    <p class="book__large-subtitle-sub">Kategoria: </p>
                    <p class="book__large-subtitle-sub book__large-subtitle-bold" th:text="${b.categories}"></p>
                </div>
                <div class="book__large-subtitle">
                    <p class="book__large-subtitle-sub">Cykl: </p>
                    <p class="book__large-subtitle-sub book__large-subtitle-bold" th:text="${b.series}"></p>
                </div>
                <div class="book__large-subtitle" th:if="${b.bookInSeriesNo != 0}">
                    <p class="book__large-subtitle-sub">Czesc cyklu: </p>
                    <p class="book__large-subtitle-sub book__large-subtitle-bold" th:text="${b.bookInSeriesNo}"></p>
                </div>
                <div class="book__large-subtitle" th:unless="${b.bookInSeriesNo != 0}">
                    <p class="book__large-subtitle-sub">Czesc cyklu: </p>
                    <p class="book__large-subtitle-sub book__large-subtitle-bold"></p>
                </div>
                <div class="book__large-subtitle">
                    <p class="book__large-subtitle-sub">Ksiegarnia: </p>
                    <p class="book__large-subtitle-sub book__large-subtitle-bold" th:text="${ub.bookstore}"></p>
                </div>
                <div class="book__large-subtitle">
                    <p class="book__large-subtitle-sub">Stan posiadania: </p>
                    <p class="book__large-ubtitle-sub book__large-subtitle-bold"
                       th:text="${ub.ownershipStatus.getDescription()}"></p>
                </div>
                <div class="book__large-subtitle">
                    <p class="book__large-subtitle-sub">Stan przeczytania: </p>
                    <p class="book__large-subtitle-sub book__large-subtitle-bold"
                       th:text="${ub.readingStatus.getDescription()}"></p>
                </div>

                <p class="book__large-subtitle-sub">Kiedy czytana/słuchana:</p>
                <div th:if="${ub.readFrom != null && ub.readTo == null}">
                    <p class="book__large-subtitle-sub book__large-subtitle-bold" th:text="${ub.readFrom}"></p>
                </div>
                <div th:if="${ub.readFrom != null && ub.readTo != null}">
                    <p class="book__large-subtitle-sub book__large-subtitle-bold"
                       th:text="${ub.readFrom + '  do  ' + ub.readTo}"></p>
                </div>
            </div>
            <div class="book__large-discription">
                <p class="book__large-subtitle-sub">Opis: </p>
                <textarea class="book__large-discription-area book__large-subtitle-sub book__large-discription-text"
                          rows="15" cols="80" readonly="true"
                          th:text="${b.description}">
            </textarea>
            </div>
        </div>
    </div>
</div>

</body>
</html>