<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="book_medium" th:each="ub : ${userBookList}" th:fragment="ub-largeview">
    <div th:each="b : ${bookList}">

        <div th:if="${b.id == ub.idBook}">
            <div class="book__medium-type">

                <div class="edit-div">

                    <a th:href="@{/userbooks/delete/{id}(id=${ub.id})}">
                        <img class="edit-buttons" th:src="@{/images/delete-icon.png}">
                    </a>
                </div>
                <h2 th:text="${ub.editionType}"></h2>
            </div>
            <div style="float:left;">

                <img th:if="${b.cover != null && b.cover != ''}" class="book__medium-picture"
                     th:alt="${b.title}" th:src="${b.cover}"
                     align="center">

                <img th:unless="${b.cover != null &&  b.cover != ''}" class="book__medium-picture"
                     th:alt="${b.title}" th:src="@{/images/no-cover.jpg}"
                     align="center">
            </div>

            <div class="book__medium-all" style="float: left">
                <h3 class="book__medium-title" th:text="${b.title}"></h3>

                <div class="book__medium-subtitle">
                    <p class="book__medium-subtitle-sub">Autor: </p>
                    <p class="book__medium-subtitle-sub book__medium-subtitle-bold" th:text="${b.authors}"></p>
                </div>
                <div class="book__medium-subtitle">
                    <p class="book__medium-subtitle-sub">Kategoria: </p>
                    <p class="book__medium-subtitle-sub book__medium-subtitle-bold" th:text="${b.categories}"></p>
                </div>
                <div class="book__medium-subtitle">
                    <p class="book__medium-subtitle-sub">Cykl: </p>
                    <p class="book__medium-subtitle-sub book__medium-subtitle-bold" th:text="${b.series}"></p>
                </div>
                <div class="book__medium-subtitle" th:if="${b.bookInSeriesNo != 0}">
                    <p class="book__medium-subtitle-sub">Czesc cyklu: </p>
                    <p class="book__medium-subtitle-sub book__medium-subtitle-bold" th:text="${b.bookInSeriesNo}"></p>
                </div>
                <div class="book__medium-subtitle" th:unless="${b.bookInSeriesNo != 0}">
                    <p class="book__medium-subtitle-sub">Czesc cyklu: </p>
                    <p class="book__medium-subtitle-sub book__medium-subtitle-bold"></p>
                </div>
                <div class="book__medium-subtitle">
                    <p class="book__medium-subtitle-sub">Ksiegarnia: </p>
                    <p class="book__medium-subtitle-sub book__medium-subtitle-bold" th:text="${ub.bookstore}"></p>
                </div>
                <div class="book__medium-subtitle">
                    <p class="book__medium-subtitle-sub">Stan posiadania: </p>
                    <p class="book__medium-subtitle-sub book__medium-subtitle-bold"
                       th:text="${ub.ownershipStatus.getDescription()}"></p>
                </div>
                <div class="book__medium-subtitle">
                    <p class="book__medium-subtitle-sub">Stan przeczytania: </p>
                    <p class="book__medium-subtitle-sub book__medium-subtitle-bold"
                       th:text="${ub.readingStatus.getDescription()}"></p>
                </div>

                <p class="book__medium-subtitle-sub">Kiedy czytana/słuchana:</p>
                <div th:if="${ub.readFrom != null && ub.readTo == null}">
                    <p class="book__medium-subtitle-sub book__medium-subtitle-bold" th:text="${ub.readFrom}"></p>
                </div>
                <div th:if="${ub.readFrom != null && ub.readTo != null}">
                    <p class="book__medium-subtitle-sub book__medium-subtitle-bold"
                       th:text="${ub.readFrom + '  do  ' + ub.readTo}"></p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>