<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div class="book_small" th:each="ub : ${userBookList}" th:fragment="ub-smallview">
    <div th:each="b : ${bookList}">

        <div th:if="${b.id == ub.idBook}">
            <div class="book__small-type">
                <h2 th:text="${ub.editionType}"></h2>
            </div>

                <img class="book__small-picture"
                     th:alt="${b.title + '   ' +b.subtitle}" th:src="${b.cover}"
                     align="center">

            <div class="book__small-all">
                <h2 class="book__small-title" th:text="${b.title}"></h2>
                <div class="book__small-subtitle">
                    <p class="book__small-subtitle-sub">Podtytuł: </p>
                    <p class="book__small-subtitle-sub book__small-subtitle-bold" th:text="${b.subtitle}"></p>
                </div>

                <p class="book__small-subtitle-sub">Kiedy czytana/słuchana:</p>
                <div th:if="${ub.readFrom != null && ub.readTo == null}">
                    <p class="book__small-subtitle-sub book__small-subtitle-bold" th:text="${ub.readFrom + ' - '}"></p>
                </div>
                <div th:if="${ub.readFrom != null && ub.readTo != null}">
                    <p class="book__small-subtitle-sub book__small-subtitle-bold"
                       th:text="${ub.readFrom + '  do  ' + ub.readTo}"></p>
                </div>
                <div th:if="${ub.readFrom == null && ub.readTo == null}">
                    <p class="book__small-subtitle-sub book__small-subtitle-bold">-</p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>