<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div class="book_small" th:each="ub : ${userBookList}" th:fragment="ub-smallview">
    <div th:each="b : ${bookList}">

        <div th:if="${b.id == ub.idBook}">
            <div class="book__small-type">

                <div class="edit-div">

                    <a th:href="@{/userbooks/delete/{id}(id=${ub.id})}">
                        <img class="edit-buttons" th:src="@{/images/delete-icon.png}">
                    </a>
                </div>
                <h2 th:text="${ub.editionType}"></h2>
            </div>


            <img th:if="${b.cover != null && b.cover != ''}" class="book__small-picture"
                 th:alt="${b.title}" th:src="${b.cover}"
                 align="center">

            <img th:unless="${b.cover != null &&  b.cover != ''}" class="book__small-picture"
                 th:alt="${b.title}" th:src="@{/images/no-cover.jpg}"
                 align="center">

            <div class="book__small-all">
                <h4 class="book__small-title" th:text="${b.title}"></h4>

                <p class="book__small-subtitle-sub">Kiedy czytana/słuchana:</p>
                <div th:if="${ub.readFrom != null && ub.readTo == null}">
                    <p class="book__small-subtitle-sub book__small-subtitle-bold" th:text="${ub.readFrom + ' - '}"></p>
                </div>
                <div th:if="${ub.readFrom != null && ub.readTo != null}">
                    <p class="book__small-subtitle-sub book__small-subtitle-bold"
                       th:text="${ub.readFrom + '  do  ' + ub.readTo}"></p>
                </div>
                <div th:if="${ub.readFrom == null && ub.readTo == null}">
                    <p class="book__small-subtitle-sub book__small-subtitle-bold">-</p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>