<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="table.css">
    <title>Lista autorów</title>
</head>
<style>

</style>
<body>

<h2>Dodaj autora</h2>
<form action="#" th:object="${author}" method="post">
    <input type="hidden" />
    <p>Imię: <input type="text" th:field="*{firstName}" required /></p>
    <p>Nazwisko: <input type="text" th:field="*{lastName}" required/></p>
    <input type="submit" value="Dodaj"/>
    <input type="reset" value="Wyczyść" />
</form>
<h1>Lista autorów</h1>
<table class="content-table">
    <thead>
        <tr>
            <th style="width: 30px;" align="left">Id</th>
            <th style="width: 150px;" align="left">Imię</th>
            <th style="width: 200px;" align="left">Nazwisko</th>
            <th style="width: 30px;" align="left">Akcja</th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="author: ${authorList}">
        <td th:text="${author.id}"></td>
        <td th:text="${author.firstName}"></td>
        <td th:text="${author.lastName}"></td>
        <td><a th:href="@{/authors/delete/{id}(id=${author.id})}" class="btn btn-danger">usuń</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
