<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">

</head>

<body>
<div th:replace="fragments/head :: js-script" th:remove="tag">

</div>
<div th:replace="fragments/header :: header">

</div>


<h4 class="bg-warning font-weight-bold info-reading-status">Księgarnia</h4>
<div class="container">

    <form action="#" th:object="${bookstore}" method="post">
        <div class="container" style="width: 400px;">

            <label class="form-label" for="name">Nazwa: </label>
            <div class="form-div-login">
                <input class="form-input-login" id="name" type="text" name="name" required th:field="*{name}"/>
            </div>
            <h4 class="bg-danger font-weight-bold error" th:if="${#fields.hasErrors()}"
                th:text="${#fields.detailedErrors().get(0).getMessage()}"></h4>

            <label class="form-label" for="url">URL: </label>
            <div class="form-div-login">
                <input class="form-input-login" id="URL" type="text"  name="url" th:field="*{url}"/>
            </div>

            <div class="form-div-logbtn">
                <input class="btn btn-warning form-button-save" type="submit" value="Zapisz"/>
            </div>
        </div>
    </form>
    <h1>Lista księgarni</h1>
    <table class="content-table">
        <thead>
        <tr>
            <th style="width: 30px;" align="left">Id</th>
            <th style="width: 150px;" align="left">Nazwa księgarni</th>
            <th style="width: 200px;" align="left">Adres URL</th>
            <th style="width: 30px;" align="left">Akcja</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bookstore: ${bookstoreList}">
            <td th:text="${bookstore.idBookstore}"></td>
            <td th:text="${bookstore.name}"></td>
            <td><a th:href="@{http://{url}(url=${bookstore.url})}" th:text="${bookstore.url}" target="_blank"></a></td>
            <td><a th:href="@{/bookstores/delete/{id}(id=${bookstore.idBookstore})}"
                   class="btn btn-danger table-button">usuń</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<!--<h2>Dodaj księgarnie</h2>-->
<!--<form action="#" th:object="${bookstore}" method="post">-->
<!--    <input type="hidden" />-->
<!--    <p>Nazwa: <input type="text" th:field="*{name}" required /></p>-->
<!--    <p>Adres URL: <input type="text" th:field="*{url}" required/></p>-->
<!--    <input type="submit" value="Dodaj"/>-->
<!--    <input type="reset" value="Wyczyść" />-->
<!--</form>-->

</body>
</html>
