<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="table.css">
    <title>Books list</title>
</head>
<style>

</style>
<body>

<h2>Add book</h2>
<form action="#" th:object="${book}" method="post">
    <input type="hidden" />
    <p>Id: <input type="text" th:field="*{idBook}" /></p>
    <p>Series: <input type="text" th:field="*{series}" /></p>
    <p>Authors: <input type="text" th:field="*{authors}" required/></p>
    <p>Category: <input type="text" th:field="*{categories}" /></p>
    <p>Title: <input type="text" th:field="*{title}" required /></p>
    <p>Subtitle: <input type="text" th:field="*{subtitle}" /></p>
    <p>Description: <input type="text" th:field="*{description}" /></p>
    <p>Cover: <input type="text" th:field="*{cover}" /></p>
    <p>Book number in series: <input type="text" th:field="*{bookInSeriesNo}" /></p>
    <input type="submit" value="add book"/>
    <input type="reset" value="clear form" />
</form>
</body>
</html>
