<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<form th:object="${user}" method="post">-->
<!--    <div class="container">-->
<!--        <h1>Register</h1>-->
<!--        <p>Please fill in this form to create an account.</p>-->
<!--        <hr>-->

<!--        <label for="login"><b>Login</b></label>-->
<!--        <input type="text" placeholder="wpisz tutaj..." name="login" id="login" required>-->

<!--        <label for="psw"><b>Hasło</b></label>-->
<!--        <input type="password" placeholder="wpisz tutaj..." name="psw" id="psw" required>-->

<!--        <label for="psw-repeat"><b>Powtórz hasło</b></label>-->
<!--        <input type="password" placeholder="wpisz tutaj..." name="psw-repeat" id="psw-repeat" required>-->
<!--        <hr>-->

<!--        <button type="submit" class="registerbtn">Register</button>-->
<!--    </div>-->

<!--    <div class="container signin">-->
<!--        <p>Masz już konto? <a href="#">Zaloguj sięgit checkout</a>.</p>-->
<!--    </div>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->

<!--<html>-->
<body>
<!--<h1 th:text="#{label.form.title}">form</h1>-->
<form action="/" th:object="${user}" method="POST" enctype="utf8">
    <div>
        <label for="name">Nazwa: </label>
        <input id="name" required th:field="*{name}"/>
        <p th:each="error: ${#fields.errors('firstName')}"
           th:text="${error}">Validation error</p>
    </div>

    <div>
        <label for="login">Login: </label>
        <input id="login" type="text" required th:field="*{login}"/>
        <p th:each="error : ${#fields.errors('email')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label for="password">Password: </label>
        <input id="password" type="password" required
               th:field="*{password}"/>
        <p th:each="error : ${#fields.errors('password')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label th:text="#{label.user.confirmPass}">confirm</label>
        <input type="password" th:field="*{matchingPassword}"/>
    </div>
    <button type="submit" th:text="#{label.form.submit}">submit</button>
</form>

<a th:href="@{/login.html}">Zaloguj</a>
</body>
</html>