<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>

<body>
<div th:replace="fragments/head :: js-script" th:remove="tag">

</div>
<div th:replace="fragments/header :: header">

</div>

<div class="container">
    <h4 class="bg-warning font-weight-bold info-reading-status">Zarządzanie użytkownikami</h4>


    <!--    <h4 class="bg-warning font-weight-bold info-reading-status" >UNDER CONSTRUCTION</h4>-->
    <h1>UNDER CONSTRUCTION</h1>
    <img src="library-uc.jpg" style="width: inherit; padding: 0 150px 150px 150px">

</div>

</body>
</html>